# 01. Importing libraries

In [1]:
# Import libraries
import warnings
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
# Define csv path
path = r'C:\Users\lucav\Desktop\Instacart Basket Analysis'

In [3]:
# Import data from 'orders_checked.csv'
warnings.simplefilter(action='ignore', category=FutureWarning)
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'), index_col = 0)

In [4]:
# Import data from 'products_checked.csv'
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [5]:
# Import data from 'order_products__prior.csv'
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

# 03. Combine 'df_ords' and 'df_ords_prior'

In [6]:
# Return the first 5 rows of 'df_ords_prior'
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# Return the dimensions of 'df_ords_prior'
df_ords_prior.shape

(32434489, 4)

In [8]:
# Combine 'df_ords' and 'df_ords_prior' on 'order_id' column
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [9]:
# Return the first 5 rows of 'df_merged_large'
df_merged_large.head()

,order_id,user_id,order_number,day_of_week,hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [10]:
# Check for full matches
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [11]:
# Return the dimensions of 'df_merged_large'
df_merged_large.shape

(32434489, 11)

In [12]:
# Remove '_merge' column
df_merged_large_final = df_merged_large.drop(columns = ['_merge'])

In [13]:
# Return the first 5 rows of 'df_merged_large_final'
df_merged_large_final.head()

,order_id,user_id,order_number,day_of_week,hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [14]:
# Return the dimensions of 'df_merged_large_final'
df_merged_large_final.shape

(32434489, 10)

# 04. Export 'df_merged_large_final' as 'orders_products_combined.pkl'

In [15]:
df_merged_large_final.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))